#cleafix {
    clear: both;
}

#content {
  margin-left: auto;
  margin-right: auto;
}

#greeting-container {
  margin-top: 20px;
}

#masthead {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#creative {
    width: 40%;
    text-align: left;
    color: white;
    font-size: 25px;
    float: left;
    padding: 5%;
}

#creative-image {
    width: 45%;
    float: left;
}

#professional {
    width: 40%;
    text-align: right;
    color: white;
    font-size: 25px;
    padding: 5%;
}

#professional-image {
    width: 45%;
}

div {
  width: 90%;
  padding: 10px;
  margin: 20px;
}

body {
    background-color: rgb(2, 2, 2);
}