#content {
  margin-left: auto;
  margin-right: auto;
}

#greeting-container {
  margin-top: 20px;
}

#masthead {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#creative {
    width: 50%;
    text-align: left;
    color: white;
    font-size: 20px;
    float: left;
}

#creative-image {
    width: 50%;
    float: right;
}

div {
  width: 90%;
  padding: 10px;
  margin: 20px;
}

body {
    background-color: rgb(2, 2, 2);
}